# Čištění dat

## Seznámení s daty

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')
titanic.head()

Zjistit počet řádků  a sloupců

In [ ]:
titanic.shape

Vytisknout popisnou statistiku pro všechny numerické sloupce. použití parametru `include = 'all'` spočítá statistiku pro všechny sloupce.

In [ ]:
titanic.describe()

In [ ]:
titanic.describe(include = 'all')

## Vytvoření tidy data

In [ ]:
wolf_data = pd.read_csv(
    'https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/car/Depredations.csv', index_col = 0
)

In [ ]:
wolf_data.head()

In [ ]:
wolf_data_melt = pd.melt(wolf_data, id_vars=['longitude', 'latitude'], value_vars=['early', 'late'])
wolf_data_melt.head()

## Výběr podmnožiny dat

In [ ]:
# Podle čísla řádků
titanic.iloc[10]

In [ ]:
# Výběr buňky
titanic.iloc[1,2]

In [ ]:
titanic.loc[1, 'name']

In [ ]:
# Výběr sloupce
titanic['name'].head()

In [ ]:
titanic.name.head()

In [ ]:
# Výběr n řádků
titanic[:10]

In [ ]:
titanic[5:15]

In [ ]:
titanic.loc[[5,6,7],['name', 'age']]

In [ ]:
# Náhodný výběr
titanic.sample(n = 10)

## Operace s indexy

In [ ]:
# Podle hodnot indexu
wolf_data.index = 'loc' + wolf_data.index.astype(str)
wolf_data.head()

In [ ]:
wolf_data.loc['loc10']

In [ ]:
# Očíslovat řádky znova
wolf_data.reset_index().head()

In [ ]:
# Použít jeden ze sloupců jako index
wolf_data.set_index('longitude').head()

## Operace s řetězcí ve sloupcích

In [ ]:
titanic['name'].head()

In [ ]:
titanic['last_name'] = titanic['name'].str.split(',').str.get(0)
titanic['last_name'].head()

In [ ]:
titanic['first_name'] = titanic['name'].str.split(', ').str.get(1).str.split('\\. ').str.get(1)
titanic['first_name'].head()

In [ ]:
titanic['title'] = titanic['name'].str.split(',').str.get(1).str.split('.').str.get(0)
titanic['title'].head()

In [ ]:
vit_c = pd.read_csv(
    'https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/ToothGrowth.csv', 
    index_col = 0
)
vit_c.head()

In [ ]:
# Zjistit všechny hodnoty ve sloupci
vit_c['supp'].unique()

In [ ]:
# Vyměnit jeden řetězec za druhý
vit_c['supp_long'] = vit_c['supp'].str.replace('VC', 'vitamin_c')
vit_c['supp_long'] = vit_c['supp_long'].str.replace('OJ', 'orange_juice')
vit_c.sample(n = 10)

In [ ]:
# Zjistit duplikátní hodnoty
vit_c[vit_c.duplicated(keep = False)]

## Práce s chybějícími daty

In [ ]:
# Zjistit kde jsou chybející data
# alternativa - .notnull()
titanic.isnull().any()

In [ ]:
titanic['age'].unique()

In [ ]:
sum(titanic['age'].isnull())/len(titanic)

In [ ]:
titanic[titanic['age'].isnull()].head()

In [ ]:
# Zbavit se řádků obsahujících NaN
len(titanic.dropna(axis=0, how='all'))

In [ ]:
len(titanic)

In [ ]:
sum(titanic.isnull().any())

In [ ]:
len(titanic.columns)

In [ ]:
len(titanic.dropna(axis=0, thresh = 14))

In [ ]:
# Vyplnit chybějící hodnoty
stock_data = {
    'BID_price': [449, 448, None, None],
    'ASK_price': [451, None, 450, None],
    'BID_quantity': [1115, 2479, None, None],
    'ASK_quantity': [858, None, 9482, 6413]
}
stock_data = pd.DataFrame(stock_data)
stock_data.head()

In [ ]:
# Metoda 'ffill'vyplní následující řádek hodnotou z předešlého řádku
stock_data.fillna(method = 'ffill')

## Seskupování dat

In [ ]:
titanic.groupby('sex').mean()

In [ ]:
# Vytvoření podmnožiny dat 
titanic_female = titanic.groupby('sex').get_group('female')
titanic_female.head()

## Filtrování dat

In [ ]:
titanic[titanic['sex'] == 'female'].head()

In [ ]:
titanic[titanic['age'] < 1].head()

In [ ]:
titanic[titanic['survived'] != 1].head()

In [ ]:
# Vybrat řádky, pokud hodnota je v seznamu hodnot
cities = ['London', 'Paris']
titanic['home.dest'].unique()

In [ ]:
titanic[titanic['home.dest'].isin(cities)].head()

In [ ]:
titanic[titanic['home.dest'].fillna('?').apply(lambda dest: any(city in dest for city in cities))]

In [ ]:
match = []
for dest in titanic['home.dest'].fillna('?'):
    row_matches = False
    for city in cities:
        if city in dest:
            row_matches = True
    match.append(row_matches)

titanic[match]