# Čištění dat

## Seznámení s daty

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')
titanic.head()

Zjistit počet řádků  a sloupců

In [ ]:
titanic.shape

Vytisknout popisnou statistiku pro všechny numerické sloupce. použití parametru `include = 'all'` spočítá statistiku pro všechny sloupce.

In [ ]:
titanic.describe()

In [ ]:
titanic.describe(include = 'all')

## Vytvoření tidy data

In [ ]:
wolf_data = pd.read_csv(
    'https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/car/Depredations.csv', index_col = 0
)

In [ ]:
wolf_data.head()

In [ ]:
wolf_data_melt = pd.melt(wolf_data, id_vars=['longitude', 'latitude'], value_vars=['early', 'late'])
wolf_data_melt.head()

## Výběr podmnožiny dat

In [ ]:
# Podle čísla řádků
titanic.iloc[10]

In [ ]:
# Podle hodnot indexu
wolf_data.index = 'loc' + wolf_data.index.astype(str)
wolf_data.head()

In [ ]:
wolf_data.loc['loc10']

In [ ]:
# Výběr buňky
titanic.iloc[1,2]

In [ ]:
titanic.loc[1, 'name']

In [ ]:
# Výběr sloupce
titanic['name'].head()

In [ ]:
titanic.name.head()

In [ ]:
# Výběr n řádků
titanic[:10]

In [ ]:
titanic[5:15]

In [ ]:
titanic.loc[[5,6,7],['name', 'age']]

In [ ]:
# Náhodný výběr
titanic.sample(n = 10)