### Cvičení - opakování 

Máte k dispozici seznam dětí. Některé jsou ve skupině berušky, jiné ve skupině tygřici.

Spočítejte, kolik je děti v každé skupině a vytiskněte toto číslo. Pro tento účel využijte funkci `str.format()`.
Vytiskněte taky abecedně seřazené seznamy děti v každé skupině zvlášť.

In [ ]:
kids = {
    'Pavla':'berušky', 'Ondřej':'tygříci', 'Jakub':'berušky', 'Klára':'berušky', 'Magdaléna':'tygříci', 
    'Vojtěch':'berušky', 'Jan':'tygříci', 'Filip':'tygříci', 'Daniel':'tygříci', 'Michaela':'berušky', 
    'Markéta':'tygříci'
}

In [ ]:
group1 = []
group1_num = 0
group2 = []
group2_num = 0

In [ ]:
for k, v in kids.items():
    if v == 'berušky':
        group1_num += 1
        group1.append(k)
    if v == 'tygříci':
        group2_num += 1
        group2.append(k)

In [ ]:
print('Ve skupině berušky je {0} dětí. Ve skupině tygříci je {1} dětí.'.format(group1_num, group2_num))

In [ ]:
group1.sort()
group1

In [ ]:
group2.sort()
group2

### Cvičení - Series

Vytvořte `Series`, kde index bude 5 dni (včetně dnešního dne) a data bude teplota.

Nápověda použijte `pd.date_range` a `pd.datetime.now().date()`

In [15]:
days = pd.date_range(start = pd.datetime.now().date(), periods=5, freq='D')
days

DatetimeIndex(['2017-09-21', '2017-09-22', '2017-09-23', '2017-09-24',
               '2017-09-25'],
              dtype='datetime64[ns]', freq='D')

In [17]:
temp = [14,15,15,14,14]
day_temp = pd.Series(temp, index = days)
day_temp

2017-09-21    14
2017-09-22    15
2017-09-23    15
2017-09-24    14
2017-09-25    14
Freq: D, dtype: int64

### Cvičení - DataFrame 

Anna a Hanka chtějí jít do Neklidu, Jana a Jitka do Sladkovského, Karel a Jirka do café V lese.

Vytvořte `DataFrame` se sloupci `"Jméno"` a `"Hospoda"`.

In [4]:
pubs = {
    'Jméno' : ['Anna', 'Hanka', 'Jana', 'Jitka', 'Karel', 'Jirka'],
    'Hospoda' : ['Neklid', 'Neklid','Sladkovský', 'Sladkovský', 'café V lese', 'café V lese']
}

In [5]:
import pandas as pd

In [7]:
pubs_df = pd.DataFrame(pubs)
pubs_df

       Hospoda  Jméno
0       Neklid   Anna
1       Neklid  Hanka
2   Sladkovský   Jana
3   Sladkovský  Jitka
4  café V lese  Karel
5  café V lese  Jirka