### Cvičení - opakování 

Máte k dispozici seznam dětí. Některé jsou ve skupině berušky, jiné ve skupině tygřici.

Spočítejte, kolik je děti v každé skupině a vytiskněte toto číslo. Pro tento účel využijte funkci `str.format()`.
Vytiskněte taky abecedně seřazené seznamy děti v každé skupině zvlášť.

In [ ]:
kids = {
    'Pavla':'berušky', 'Ondřej':'tygříci', 'Jakub':'berušky', 'Klára':'berušky', 'Magdaléna':'tygříci', 
    'Vojtěch':'berušky', 'Jan':'tygříci', 'Filip':'tygříci', 'Daniel':'tygříci', 'Michaela':'berušky', 
    'Markéta':'tygříci'
}

In [ ]:
group1 = []
group1_num = 0
group2 = []
group2_num = 0

In [ ]:
for k, v in kids.items():
    if v == 'berušky':
        group1_num += 1
        group1.append(k)
    if v == 'tygříci':
        group2_num += 1
        group2.append(k)

In [ ]:
print('Ve skupině berušky je {0} dětí. Ve skupině tygříci je {1} dětí.'.format(group1_num, group2_num))

In [ ]:
group1.sort()
group1

In [ ]:
group2.sort()
group2

### Cvičení - list comprehensions

Vytvořte seznam svých pěti kamarádů
Pomocí list comprehensions vytvořte z tohoto seznamu další seznam, který ke každému jménu přidá ' je super!'
Vytiskněte vytvořený seznam

In [ ]:
friends = ['Pavla', 'Pavel', 'Vojta', 'Jitka', 'Veronika']
friends_super = [friend + ' je super!' for friend in friends]
friends_super

### Cvičení - Series

Vytvořte `Series`, kde index bude 5 dni (včetně dnešního dne) a data bude teplota.

Nápověda použijte `pd.date_range` a `pd.datetime.now().date()`

In [ ]:
days = pd.date_range(start = pd.datetime.now().date(), periods=5, freq='D')
days

In [ ]:
temp = [14,15,15,14,14]
day_temp = pd.Series(temp, index = days)
day_temp

### Cvičení - DataFrame 

Anna a Hanka chtějí jít do Neklidu, Jana a Jitka do Sladkovského, Karel a Jirka do café V lese.

Vytvořte `DataFrame` se sloupci `"Jméno"` a `"Hospoda"`.

In [ ]:
pubs = {
    'Jméno' : ['Anna', 'Hanka', 'Jana', 'Jitka', 'Karel', 'Jirka'],
    'Hospoda' : ['Neklid', 'Neklid','Sladkovský', 'Sladkovský', 'café V lese', 'café V lese']
}

In [ ]:
import pandas as pd

In [ ]:
pubs_df = pd.DataFrame(pubs)
pubs_df

### Cvičení - Tida data
Stáhněte data - [počty telefonů](https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/WorldPhones.csv)

Přetransformujte data tak, aby měla 3 sloupce: kontinent, rok, počet telefonů

In [ ]:
link = 'https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/WorldPhones.csv'
phones = pd.read_csv(link)
phones

In [ ]:
phones.rename(columns={'Unnamed: 0':'Year'}, inplace=True)

In [ ]:
phones

In [ ]:
phones_melted = pd.melt(phones, id_vars=['Year'], value_vars=["N.Amer","Europe","Asia","S.Amer","Oceania","Africa","Mid.Amer"])

In [ ]:
phones_melted.columns = ['Year', 'Continent', 'Telephone_number']
phones_melted.head()

### Cvičení - výběr podmnožiny dat

Z `titanic` dat:
    
    1. Vyberte prvních 20 řádků
    2. Ponechte sloupci obsahující jméno, pohlaví, věk, kde nastupovali a zda přežili    
    3. Spočítejte popisnou statistiku pro všechny sloupce

In [ ]:
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')
titanic.head()

In [ ]:
titanic_sub = titanic.loc[:19, ['survived', 'name', 'sex', 'age', 'embarked']]

In [ ]:
titanic_sub.describe(include = 'all')