### Cvičení - opakování 

Máte k dispozici seznam dětí. Některé jsou ve skupině berušky, jiné ve skupině tygřici.

Spočítejte, kolik je děti v každé skupině a vytiskněte toto číslo. Pro tento účel využijte funkci `str.format()`.
Vytiskněte taky abecedně seřazené seznamy děti v každé skupině zvlášť.

In [1]:
kids = {
    'Pavla':'berušky', 'Ondřej':'tygříci', 'Jakub':'berušky', 'Klára':'berušky', 'Magdaléna':'tygříci', 
    'Vojtěch':'berušky', 'Jan':'tygříci', 'Filip':'tygříci', 'Daniel':'tygříci', 'Michaela':'berušky', 
    'Markéta':'tygříci'
}

In [2]:
group1 = []
group1_num = 0
group2 = []
group2_num = 0

In [3]:
for k, v in kids.items():
    if v == 'berušky':
        group1_num += 1
        group1.append(k)
    if v == 'tygříci':
        group2_num += 1
        group2.append(k)

In [4]:
print(
    'Ve skupině berušky je {0} dětí. Ve skupině tygříci je {1} dětí.'.format(group1_num, group2_num))

Ve skupině berušky je 5 dětí. Ve skupině tygříci je 6 dětí.

In [5]:
group1.sort()
group1

['Jakub', 'Klára', 'Michaela', 'Pavla', 'Vojtěch']

In [6]:
group2.sort()
group2

['Daniel', 'Filip', 'Jan', 'Magdaléna', 'Markéta', 'Ondřej']

### Cvičení - list comprehensions

Vytvořte seznam svých pěti kamarádů
Pomocí list comprehensions vytvořte z tohoto seznamu další seznam, který ke každému jménu přidá ' je super!'
Vytiskněte vytvořený seznam

In [7]:
friends = ['Pavla', 'Pavel', 'Vojta', 'Jitka', 'Veronika']
friends_super = [friend + ' je super!' for friend in friends]
friends_super

['Pavla je super!',
 'Pavel je super!',
 'Vojta je super!',
 'Jitka je super!',
 'Veronika je super!']

### Cvičení - Series

Vytvořte `Series`, kde index bude 5 dni (včetně dnešního dne) a data bude teplota.

Nápověda použijte `pd.date_range` a `pd.datetime.now().date()`

In [10]:
import pandas as pd
days = pd.date_range(end = pd.datetime.now().date(), periods=5, freq='D')
days

DatetimeIndex(['2017-10-01', '2017-10-02', '2017-10-03', '2017-10-04',
               '2017-10-05'],
              dtype='datetime64[ns]', freq='D')

In [15]:
temp = [14,15,15,14,14]
day_temp = pd.Series(temp, index = days, name='temp')
day_temp

2017-10-01    14
2017-10-02    15
2017-10-03    15
2017-10-04    14
2017-10-05    14
Freq: D, Name: temp, dtype: int64

### Cvičení - DataFrame 

Anna a Hanka chtějí jít do Neklidu, Jana a Jitka do Sladkovského, Karel a Jirka do café V lese.

Vytvořte `DataFrame` se sloupci `"Jméno"` a `"Hospoda"`.

In [16]:
pubs = {
    'Jméno' : ['Anna', 'Hanka', 'Jana', 'Jitka', 'Karel', 'Jirka'],
    'Hospoda' : ['Neklid', 'Neklid','Sladkovský', 'Sladkovský', 'café V lese', 'café V lese']
}

In [12]:
import pandas as pd

In [17]:
pubs_df = pd.DataFrame(pubs)
pubs_df

       Hospoda  Jméno
0       Neklid   Anna
1       Neklid  Hanka
2   Sladkovský   Jana
3   Sladkovský  Jitka
4  café V lese  Karel
5  café V lese  Jirka

### Cvičení - Tida data
Stáhněte data - [počty telefonů](https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/WorldPhones.csv)

Přetransformujte data tak, aby měla 3 sloupce: kontinent, rok, počet telefonů

In [ ]:
link = 'https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/csv/datasets/WorldPhones.csv'
phones = pd.read_csv(link)
phones

In [ ]:
phones.rename(columns={'Unnamed: 0':'Year'}, inplace=True)

In [ ]:
phones

In [ ]:
phones_melted = pd.melt(phones, id_vars=['Year'], value_vars=["N.Amer","Europe","Asia","S.Amer","Oceania","Africa","Mid.Amer"])

In [ ]:
phones_melted.columns = ['Year', 'Continent', 'Telephone_number']
phones_melted.head()

### Cvičení - výběr podmnožiny dat

Z `titanic` dat:
    
    1. Vyberte prvních 20 řádků
    2. Ponechte sloupci obsahující jméno, pohlaví, věk, kde nastupovali a zda přežili    
    3. Spočítejte popisnou statistiku pro všechny sloupce

In [ ]:
titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')
titanic.head()

In [ ]:
titanic_sub = titanic.loc[:19, ['survived', 'name', 'sex', 'age', 'embarked']]

In [ ]:
titanic_sub.describe(include = 'all')